/* Header */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  & nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    outline: 1px solid #48752c;
    border-radius: 20px;
    & a {
      text-decoration: none;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }

    & a:hover {
      filter: brightness(90%);
    }

    .nav-home {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: white;
    }

    .nav-about {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      color: white;
    }
  }

  & button {
    background-color: #48752c;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms linear;
  }

  & button:hover {
    filter: brightness(85%);
  }
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
